{% extends "base.html" %} {% load bootstrap4 %}{% load static %} {% block content %}
<div class="secondDiv"></div>
<div class="box">
    <br><br>
    <h1 style="font-size: 35px; ">Welcom to library</h1><br><br>
    <h1 style="font-size: 25px; ">Opens at: 09:00AM </h1><br>
    <h1 style="font-size: 25px; ">Closes at: 7:00PM </h1><br>
</div>
</article>
<div id="aboutus">
</div>
<script>
    document.getElementById("button2").onclick = function loadDivLearnMore() {
        var requst = new XMLHttpRequest();
        requst.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("aboutus").innerHTML = this.responseText;
            }
        };
        requst.open("GET", "home/about-us.txt", true);
        requst.send();
        requst.onloadend = ur1l;

    }

    function ur1l() {
        location.href = "#aboutus";
    }
</script>

</body>
<footer>
    <p class="pfooter">Email: <a href="Online.library@gmail.com">Online.library@gmail.com</a>
        <p>
</footer>

{% endblock %}