<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin registeration</title>
    <link rel="stylesheet" href="CSS/StyleSheet.css" type="text/css" />

</head>


<body>
    <header>
        <div class="firstDiv">
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="AdminHome.html">Books</a></li>
                <li><a href="admin_registeration">Registration</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>

        <div class="secondDiv">
            <div class="thirdDiv">
                <h1 style="text-align:center;font-size:35px;font-family: century Gothic;color: #ff5f1b;">University Library System</h1><br>
                <h1 style="text-align:center;font-size:25px;color: #ff5f1b;">Admin Login Page</h1><br>
                <form name="AddBook" action="" method="POST">
                    <input  type="text" name="FirstName" placeholder="First Name" required><br>
                    <input  type="text" name="LastName" placeholder="Last Name" required><br>
                    <input  type="Email" name="Email" placeholder="Email" required><br>
                    <input  type="Password" name="Password" placeholder="Password" required><br>
                    <button type="Sign" id="login">Sign Up</button>
                </form>
            </div>
        </div>
        
</div>
    </header>
</body>
<footer>
    <p class="pfooter">Email: <a href="Online.library@gmail.com">Online.library@gmail.com</a><p>
  </footer>
</html>