<!DOCTYPE html>
<html>

<head>
    <title>Admin Home Page</title>
    <link rel="stylesheet" href="{% static 'CSS/AdminHome.css' %}" type="text/css" />


    </style>
</head>

<body>
    <header>
        <div class="firstDiv">
            <ul>
                <li><a href="AdminHome.html">Home</a></li>
                <li><a href="UpdateBookDetails.html">Update Book Details</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>

        <div class="secondDiv">
            <button class="btn"><a href="AddBook.html">Add Book</a></button>
            <button class="btn">View All Books</button>
        </div>

        </div>
    </header>
</body>


</html>